.main-container {
    border: 1px solid black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-container {
    border: 1px solid black;
    height: 30vh;
    width: 50vh;
    background-color: lightgoldenrodyellow;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rock,#paper,#scissor {
    height: 30px;
    margin: 15px;
    background-color: lightblue;
}

.results-container {
    border: 1px solid black;
    height: 20vh;
    width: 50vh;
    margin-top: 30px;
    border-radius: 12px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#results {
    text-align: center;
}

